{% extends "layout.html" %}

{% block title %}Добавить запись{% endblock %}

{% block content %}
    <div class="grid-x align-center">
        <div class="small-12 medium-6">
            {% include 'flash_messages.html' %}
            <form class="form" action="{{ url_for('index_page.save_blog') }}" method="post">
                <label class="label" for="caption">Название</label>
                <input id="caption" class="small-5 columns" type="text" name="caption">
                <label class="label" for="description">Содержание</label>
                <textarea id="description" class="small-5 columns" name="description" rows="10"></textarea>
                <div class="small-4 medium-offset-8">
                    <a class="clear button" href="/">Отмена</a>
                    <input class="button success" type="submit" value="Сохранить">
                </div>
            </form>
        </div>
    </div>
{% endblock %}